@charset "utf-8";
/* CSS Document */
.wtwx-warp {
	background:#e9eaee;
}
/*********** project  star***********/
.wtwx-top {
	height:44px;
	line-height:44px;
	background:#1a1920;
	color:#ffffff;
	font-size:18px;
	text-align:center;
	position:relative;
}
.wtwx-top-l {
	position:absolute;
	left:10px;
	top:0px;
	padding-left:16px;
	font-size:16px;
	color:#ffffff;
	background:url(wtwx-icon19.png) no-repeat left center;
	background-size:24%;
}
.wtwx-top-r {
	position:absolute;
	right:10px;
	top:16px;
	width:24px;
	height:8px;
	background:url(wtwx-icon20.png) no-repeat center center;
	background-size:100%;
}
.wtwx-search {
	height:37px;
	margin:7px 0;
	padding:0 15px 0 52px;
	position:relative;
}
.wtwx-search-menu {
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:10px;
	background:url(w-icon2.png) no-repeat center center;
	background-size:100%;
}
.wtwx-search-search {
	width:100%;
	height:37px;
	line-height:37px;
	background:#FFFFFF;
	text-align:center;
	font-size:17px;
	color:#666666;
}
.wtwx-search-scre {
	position:absolute;
	width:15px;
	height:16px;
	left:50%;
	top:10px;
	margin-left:-20px;
	background:url(wtwx-icon21.png) no-repeat center center;
	background-size:100%;
}
.wtwx-project-cnt1 {
	background:#ffffff;
	padding:0 15px;
	margin-bottom:10px;
	overflow:hidden;
}
.wtwx-project-cnt1-l {
	float:left;
	width:72px;
	height:72px;
	margin-right:10px;
	margin-bottom:14px;
	margin-top:15px;
}
.wtwx-project-cnt1-l img {
	border-radius:8px;
}
.wtwx-project-cnt1-r {
	height:72px;
	overflow:hidden;
	margin-bottom:14px;
	margin-top:15px;
	position:relative;
}
.wtwx-project-cnt1-r h1 {
	font-size:17px;
	line-height:25px;
	color:#000000;
	font-weight:normal;
}
.wtwx-project-cnt1-r h4 {
	font-size:13px;
	color:#666666;
	font-weight:normal;
	line-height:18px;
}
.wtwx-project-fans {
	position:absolute;
	top:18px;
	right:15px;
	font-size:12px;
	color:#666666;
}
.wtwx-project-cnt1-bootm {
	height:37px;
	border-top:1px solid #e6e6e6;
}
.wtwx-project-cnt1-bootm li {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	width:24%;
	height:37px;
	line-height:37px;
	float:left;
	font-size:13px;
	color:#333333;
}
.wtwx-project-cnt1-bootm li.on1 {
	width:20%;
}
.wtwx-project-cnt1-bootm li.on2 {
	width:32%;
}
.wtwx-project-cnt1-bootm img {
	vertical-align:top;
	margin:11px 5px 0 5px;
}
/*********** project meun star***********/
.wtxt-pb {
	padding-bottom:50px;
}
.wtwx-menu {
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	background:#ffffff;
	border-top:1px solid #dcdcdc;
	padding-top:5px;
	height:44px;
}
.wtwx-menu li {
	float:left;
	width:25%;
	text-align:center;
	font-size:12px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.wtwx-menu li span {
	display:block;
	color:#999999;
}
.wtwx-menu li.on span {
	color:#0096e0;
}
/*********** project meun end***********/
   /*********** project2 meun2 star***********/
.wtxt-pb2 {
	padding-bottom:60px;
}
.wtwx-menu2 {
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	background:#ffffff;
	border-top:1px solid #bbbbbb;
	height:50px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.wtwx-menu2 li {
	float:left;
	width:25%;
	height:50px;
	padding-top:5px;
	text-align:center;
	font-size:11px;
	border-right:1px solid #e1e1e1;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.wtwx-menu2 li span {
	display:block;
	color:#777777;
}
/*********** project2 meun2 end***********/
     /*********** project2 meun3 star***********/
.wtwx-menu3 {
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	background:#ffffff;
	border-top:1px solid #bbbbbb;
	height:50px;
}
.wtwx-menu3 li {
	float:left;
	width:33%;
	height:50px;
	padding-top:5px;
	text-align:center;
	font-size:11px;
	border-right:1px solid #e1e1e1;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.wtwx-menu3 li.on {
	border-right:0;
}
.wtwx-menu3 li span {
	display:block;
	color:#777777;
}
/*********** project2 meun3 end***********/
   
.shade {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #000;
}
.wtwx-project-radius {
	position:absolute;
	z-index: 999;
	top:202px;
	left: 50%;
	margin-left: -120px;
	width: 240px;
	height:178px;
	background:#ffffff;
	border-radius:12px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.wtwx-project-radius h1 {
	font-size:18px;
	color:#333333;
	margin-top:28px;
	font-weight:normal;
	text-align:center;
	padding:0 30px;
}
.wtwx-project-radius h3 {
	font-size:12px;
	color:#666666;
	line-height:20px;
	margin-top:13px;
	font-weight:normal;
	text-align:center;
	padding:0 30px;
	height:71px;
}
.wtwx-project-radius-btn1 {
	font-size:16px;
	text-align:center;
	color:#ffffff;
	background:#0096e0;
	width:100%;
	height:42px;
	line-height:42px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.wtwx-project-radius-btn1 a {
	display:block;
	color:#ffffff;
}
.wtwx-project-radius-close {
	position:relative;
	width:12px;
	height:12px;
	background:url(wtwx-icon15.png) no-repeat center center;
	background-size:100%;
	top:5px;
	left:220px;
	display:inline-block;
}
.wtwx-project2-radius {
	position:absolute;
	z-index: 999;
	top:142px;
	left: 50%;
	margin-left: -133px;
	width: 266px;
	height:240px;
	background:#ffffff;
	border-radius:8px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.wtwx-project2-radius h1 {
	font-size:15px;
	color:#000000;
	text-align:center;
	margin-top:24px;
	font-weight:normal;
}
.wtwx-project2-lst2 {
	margin-left:3px;
	overflow:hidden;
}
.wtwx-project2-lst2 li {
	float:left;
	width:68px;
	margin-left:13px;
	margin-top:27px;
	position:relative;
}
.wtwx-project2-lst2 li img {
	border-radius:4px;
}
.wtwx-project2-lst2 .gfont {
	display:block;
	font-size:12px;
	color:#333333;
	text-align:center;
}
.shade2 {
	position:absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 68px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #000;
	border-radius:4px;
}
.wtwx-project2-lst2 .select {
	position:absolute;
	top:19px;
	left:19px;
	z-index: 99;
}
.wtwx-project2-btn3 {
	text-align:center;
}
.wtwx-project2-btn3 a {
	background:#00a5ee;
	border-radius:18px;
	width:96px;
	height:36px;
	line-height:36px;
	font-size:14px;
	color:#ffffff;
	display:inline-block;
	margin-top:22px;
}
/*********** project  end***********/

/*********** investors star***********/
.wtwx-investors-tit {
	background:#ffffff;
	height:46px;
	line-height:46px;
	position:relative;
	font-size:16px;
	color:#333333;
	text-align:center;
}
.wtwx-investors-searicon {
	position:absolute;
	right:18px;
	top:14px;
	width:20px;
	height:20px;
	background:url(wtwx-search.png) no-repeat center center;
	background-size:100%;
}
.wtwx-investors-lst1 {
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	padding-bottom:21px;
	overflow:hidden;
}
.wtwx-investors-lst1 li {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
	width:21%;
	margin:0 2%;
	text-align:center;
	margin-top:21px;
	height:30px;
	line-height:30px;
	background:#f4f4f4;
	border-radius:16px;
	font-size:13px;
}
.wtwx-investors-lst1 li a {
	color:#707070;
}
.wtwx-investors-lst1 li.on {
	background:#0096e0;
}
.wtwx-investors-lst1 li.on a {
	color:#ffffff;
}
.wtwx-investors-cnt1 {
	border-bottom:1px solid #e3e3e3;
	overflow:hidden;
	position:relative;
}
.wtwx-investors-cnt1-l {
	float:left;
	width:48px;
	height:48px;
	margin:10px;
}
.wtwx-investors-cnt1-l img {
	border-radius:4px;
}
.wtwx-investors-cnt1-r {
	height:48px;
	overflow:hidden;
	margin:10px 0;
}
.wtwx-investors-cnt1-r h1 {
	font-size:16px;
	color:#333333;
	line-height:22px;
	margin-bottom:7px;
	font-weight:normal;
}
.wtwx-investors-cnt1-r h4 {
	font-size:12px;
	color:#999999;
	font-weight:normal;
	line-height:17px;
}
.wtwx-investors-cnt1-on1 {
	position:absolute;
	right:15px;
	top:12px;
	font-size:12px;
	color:#999999
}
.wtwx-investors-cnt1-on2, .wtwx-investors-cnt1-on3, .wtwx-investors-cnt1-on4 {
	position:absolute;
	right:15px;
	bottom:12px;
	font-size:12px;
	color:#0096e0;
	font-weight:bold;
}
.wtwx-investors-cnt1-on3 {
	color:#f8991c;
}
.wtwx-investors-cnt1-on4 {
	color:#e00000;
}
.wtwx-investors-search {
	background:#fbfbfb;
	height:46px;
	padding-left:15px;
	padding-right:85px;
	position:relative;
	border-bottom:1px solid #f7f7f7;
}
.wtwx-investors-ipt {
	width:100%;
	height:46px;
	line-height:46px;
	font-size:16px;
	color:#adadad;
	background:none;
}
.wtwx-investors-btn {
	position:absolute;
	right:15px;
	top:8px;
	font-size:14px;
	width:72px;
	height:30px;
	line-height:30px;
	color:#ffffff;
	background:#0096e0;
	border-radius:15px;
}
/*********** activity star***********/
.wtwx-activity-cnt1 {
	margin:10px;
	background:#ffffff;
	border-radius:4px;
	padding-bottom:20px;
	overflow:hidden;
}
.wtwx-activity-cnt2, .wtwx-activity-cnt3 {
	background:#ffffff;
	padding-bottom:20px;
	overflow:hidden;
	margin-bottom:10px;
}
.wtwx-activity-cnt3 {
	background:none;
	border-top:2px solid #FFFFFF;
}
.wtwx-activity-img {
	position:relative;
}
.wtwx-activity-img img {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.wtwx-activity-img .on1, .wtwx-activity-img .on2 {
	position:absolute;
	right:-1px;
	top:0;
	z-index:9;
	width:63px;
	height:62px;
	background:url(wtwx-icon5.png) no-repeat center center;
	background-size:100%;
}
.wtwx-activity-img .on2 {
	background:url(wtwx-icon6.png) no-repeat center center;
	background-size:100%;
}
.wtwx-activity-cnt1 h1, .wtwx-activity-cnt2 h1 {
	font-size:18px;
	line-height:21px;
	margin-top:20px;
	color:#000000;
	text-align:center;
	font-weight:normal;
}
.wtwx-activity-cnt1 h3 {
	font-size:12px;
	color:#999999;
	margin-top:6px;
	text-align:center;
	font-weight:normal;
}
.wtwx-activity-lst {
	padding:0 20px 0 30px;
	font-size:15px;
	color:#666666;
	margin-top:10px;
}
.wtwx-activity-lst .time, .wtwx-activity-lst2 .time {
	float:left;
	width:70px;
}
.wtwx-activity-lst .time img, .wtwx-activity-lst2 .time img {
	vertical-align:top;
	margin-right:6px;
	margin-top:3px;
}
.wtwx-activity-lst2 .number img {
	vertical-align:top;
	margin-right:6px;
	margin-top:1px;
}
.wtwx-activity-lst .time-cnt, .wtwx-activity-lst2 .time-cnt {
	width:100%;
}
.wtwx-activity-cnt2 h1 {
	margin-bottom:20px;
}
.wtwx-activity-lst2 {
	padding:0 20px;
	font-size:14px;
	color:#666666;
	margin-top:10px;
}
.wtwx-activity-lst2 .red {
	color:#FF0000;
}
.wtwx-activity-tit, .wtwx-activity-tit2 {
	font-size:16px;
	color:#333333;
	padding-left:15px;
	height:22px;
	line-height:22px;
	margin-top:20px;
	border-left:4px solid #0096e0;
	position:relative;
}
.wtwx-activity-tit2 {
	margin-top:10px;
}
.wtwx-activity-conter {
	font-size:15px;
	color:#666666;
	padding:15px 15px 0;
	line-height:22px;
}
.wtwx-activity-lst3 li a {
	color:#666666;
}
.wtwx-activity-ipt1, .wtwx-activity-ipt2 {
	background:#2ea0e4;
	height:44px;
	line-height:44px;
	font-size:16px;
	color:#ffffff;
	text-align:center;
	width:100%;
}
.wtwx-activity-ipt2 {
	background:#bebebe;
}
.wtwx-project-cnt1-rnum {
	margin-top:14px;
	font-size:13px;
	color:#999999;
}
.wtwx-project-cnt1-rnum span.on1 {
	width:14px;
	height:11px;
	background:url(wtwx-icon13.png) no-repeat center center;
	background-size:100%;
	display:inline-block;
	margin-right:5px;
}
.wtwx-project-cnt1-rnum .on2 {
	color:#0096e0;
}
.wtwx-project-cnt1-rcnt {
	font-size:14px;
	color:#666666;
	line-height:23px;
	margin-bottom:12px;
}
.wtwx-project-cnt1-lst4 {
	padding-bottom:12px;
	overflow:hidden;
}
.wtwx-project-cnt1-lst4 li {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
	width:21%;
	margin:0 2%;
	text-align:center;
	height:26px;
	line-height:26px;
	background:#f4f4f4;
	border-radius:13px;
	font-size:12px;
}
.wtwx-project-cnt1-lst4 li a {
	color:#707070;
}
.wtwx-project-cnt1-conter {
	font-size:14px;
	color:#999999;
	padding:5px 15px 0;
	line-height:22px;
}
.wtwx-project-cnt2 {
	background:#ffffff;
	padding-bottom:20px;
	overflow:hidden;
	margin-bottom:10px;
}
.wtwx-project-cnt2-l {
	float:left;
	width:48px;
	height:48px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:15px;
	margin-left:15px;
}
.wtwx-project-cnt2-l img {
	border-radius:100%;
}
.wtwx-project-cnt2-r {
	height:48px;
	overflow:hidden;
	margin-top:15px;
	margin-bottom:10px;
}
.wtwx-project-cnt2-r h1 {
	font-size:16px;
	line-height:25px;
	color:#333;
	font-weight:normal;
}
.wtwx-project-cnt2-r h4 {
	font-size:12px;
	color:#999999;
	font-weight:normal;
	line-height:18px;
}
.wtwx-project-add {
	position:absolute;
	right:15px;
	top:0;
	font-size:14px;
	color:#006da3;
	padding-left:25px;
	background:url(wtwx-icon14.png) no-repeat left center;
	background-size:21%;
}
.wtwx-project-cnt3 {
	padding:0 15px;
	position:relative;
	overflow:hidden;
}
.wtwx-project-cnt3-l {
	float:left;
	width:36px;
	height:36px;
	margin-right:10px;
	margin-top:10px;
}
.wtwx-project-cnt3-l img {
	border-radius:100%;
}
.wtwx-project-cnt3-r {
	overflow:hidden;
	border-bottom:1px solid #d6d6d6;
	margin-top:10px;
}
.wtwx-project-cnt3-r h1 {
	font-size:16px;
	line-height:25px;
	color:#666;
	font-weight:normal;
}
.wtwx-project-cnt3-rcnt {
	font-size:14px;
	color:#333333;
	line-height:22px;
}
.wtwx-project-cnt3-rcnt .blue {
	color:#007eff;
}
.wtwx-project-cnt3-rtime {
	position:relative;
	font-size:12px;
	color:#c1c1c1;
	margin-top:6px;
	margin-bottom:13px;
}
.wtwx-project-cnt3-rreply {
	position:absolute;
	right:0;
	top:0;
	font-size:12px;
	color:#006da3;
}
.wtwx-project-cnt3-praise, .wtwx-project-cnt3-praise2 {
	position:absolute;
	right:15px;
	top:12px;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#999999;
	background:url(wtwx-icon11.png) no-repeat left center;
	background-size:34%;
	padding-left:18px;
}
.wtwx-project-cnt3-praise2 {
	background:url(wtwx-icon12.png) no-repeat left center;
	background-size:34%;
}
.wtwx-project-cnt2-lst4 {
	padding-top:12px;
	overflow:hidden;
	margin-left:1%;
}
.wtwx-project-cnt2-lst4 li {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	float:left;
	width:17%;
	margin:0 1%;
	text-align:center;
	height:22px;
	line-height:20px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:20px;
	font-size:12px;
	margin-bottom:12px;
}
.wtwx-project-cnt2-lst4 li.on {
	background:#0097e1;
	border:1px solid #0097e1;
}
.wtwx-project-cnt2-lst4 li a {
	color:#666;
}
.wtwx-project-cnt2-lst4 li.on a {
	color:#FFFFFF;
}
.wtwx-project-cnt2-lst5 {
	overflow:hidden;
}
.wtwx-project-cnt2-lst5-l, .wtwx-project-cnt2-lst5-la {
	float:left;
	width:60px;
	font-size:12px;
	color:#999;
	padding-left:15px;
	padding-top:2px;
	margin-top:10px;
	margin-bottom:5px;
}
.wtwx-project-cnt2-lst5-la {
	margin-top:15px;
}
.wtwx-project-cnt2-lst5-r {
	margin-top:10px;
	padding-right:15px;
}
.wtwx-project-cnt2-lst5-r img {
	vertical-align:top;
	margin-right:5px;
	margin-bottom:5px;
}
.wtwx-project-texta {
	background:#f9f9f9;
	border:1px solid #dbdbdb;
	border-radius:4px;
	height:76px;
	display:block;
	margin-left:75px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:6px;
}
.wtwx-project-texta1 {
	width:100%;
	height:74px;
	resize:none;
	border:0;
	background:none;
	color:#999999;
	font-size:12px;
}
.wtwx-project-btn2 {
	text-align:center;
}
.wtwx-project-btn2 a {
	background:#0097e1;
	border-radius:20px;
	width:90px;
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#ffffff;
	display:inline-block;
	margin:12px 0 10px;
}
/*********** search star***********/
.wt-search {
	position:relative;
	padding:7px 52px 7px 15px;
	background:#e9eaee;
}
.wt-search-ipt {
	width:100%;
	border:0;
	background:#FFFFFF;
	height:37px;
	line-height:37px;
	padding-left:16px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-size:17px;
	color:#b2b2b2;
}
.wt-search-icon {
	position:absolute;
	right:11px;
	top:11px;
	width:29px;
	height:29px;
	background:url(wtwx-icon22.png) no-repeat;
	background-size:100%;
}
.wt-search-tit {
	font-size:15px;
	color:#333333;
	margin:10px 0 0 15px;
}
.wt-search-cnt {
	border-bottom:1px solid #e7e7e7;
	padding:0 0 13px 15px;
	overflow:hidden;
}
.wt-search-cnt li {
	font-size:12px;
	float:left;
	color:#777777;
	padding:0 10px;
	margin-right:14px;
	text-align:center;
	height:24px;
	line-height:23px;
	background:#f4f4f4;
	border:1px solid #f4f4f4;
	border-radius:13px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin-top:13px;
}
.wt-search-cnt li a {
	color:#777777;
}
.wt-search-cnt li.on {
	background:#d7f2ff;
	border:1px solid #0096e0;
	color:#990033
}
.wt-search-cnt li.on a {
	color:#0096e0;
}
.wt-search-btn2 {
	padding:18px 0 15px;
	text-align:center;
}
.wt-search-btn2 a {
	text-align:center;
	width:98px;
	height:36px;
	line-height:35px;
	border-radius:24px;
	font-size:15px;
	display:inline-block;
	margin:0 15px;
}
.wt-search-btn2 .on1 {
	background:#e0f5ff;
	border:1px solid #0096e0;
	color:#333333;
}
.wt-search-btn2 .on2 {
	background:#0096e0;
	border:1px solid #0096e0;
	color:#ffffff;
}
/*********** search end***********/
