<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qheeshow.eway.service.dao.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.qheeshow.eway.service.model.Activity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="logo" property="logo" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="sign_end_time" property="signEndTime" jdbcType="TIMESTAMP"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="limit_num" property="limitNum" jdbcType="INTEGER"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="sponsor" property="sponsor" jdbcType="VARCHAR"/>
        <result column="pv" property="pv" jdbcType="INTEGER"/>
        <result column="longitude" property="longitude" jdbcType="VARCHAR"/>
        <result column="latitude" property="latitude" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="cost" property="cost" jdbcType="DECIMAL"/>
        <result column="is_head" property="isHead" jdbcType="INTEGER"/>
        <result column="doc_status" property="docStatus" jdbcType="INTEGER"/>
        <result column="baidu_map" property="baiduMap" jdbcType="VARCHAR"/>
        <result column="activity_class" property="activityClass" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.qheeshow.eway.service.model.Activity" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, logo, title, begin_time, end_time, summary, sign_end_time, address, limit_num,
        tel, sponsor, pv, longitude, latitude, status, cost, is_head, doc_status, baidu_map,
        activity_class, create_time, update_time
    </sql>
    <sql id="Blob_Column_List">
        content
    </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="com.qheeshow.eway.service.model.ActivityExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_activity
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.qheeshow.eway.service.model.ActivityExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_activity
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_activity
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_activity
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.qheeshow.eway.service.model.ActivityExample">
        delete from t_activity
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.qheeshow.eway.service.model.Activity">
        insert into t_activity (id, logo, title,
        begin_time, end_time, summary,
        sign_end_time, address, limit_num,
        tel, sponsor, pv, longitude,
        latitude, status, cost,
        is_head, doc_status, baidu_map,
        activity_class, create_time, update_time,
        content)
        values (#{id,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
        #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{summary,jdbcType=VARCHAR},
        #{signEndTime,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, #{limitNum,jdbcType=INTEGER},
        #{tel,jdbcType=VARCHAR}, #{sponsor,jdbcType=VARCHAR}, #{pv,jdbcType=INTEGER}, #{longitude,jdbcType=VARCHAR},
        #{latitude,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{cost,jdbcType=DECIMAL},
        #{isHead,jdbcType=INTEGER}, #{docStatus,jdbcType=INTEGER}, #{baiduMap,jdbcType=VARCHAR},
        #{activityClass,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{content,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.qheeshow.eway.service.model.Activity">
        insert into t_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="summary != null">
                summary,
            </if>
            <if test="signEndTime != null">
                sign_end_time,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="limitNum != null">
                limit_num,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="sponsor != null">
                sponsor,
            </if>
            <if test="pv != null">
                pv,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="cost != null">
                cost,
            </if>
            <if test="isHead != null">
                is_head,
            </if>
            <if test="docStatus != null">
                doc_status,
            </if>
            <if test="baiduMap != null">
                baidu_map,
            </if>
            <if test="activityClass != null">
                activity_class,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=VARCHAR},
            </if>
            <if test="signEndTime != null">
                #{signEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="limitNum != null">
                #{limitNum,jdbcType=INTEGER},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="sponsor != null">
                #{sponsor,jdbcType=VARCHAR},
            </if>
            <if test="pv != null">
                #{pv,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="cost != null">
                #{cost,jdbcType=DECIMAL},
            </if>
            <if test="isHead != null">
                #{isHead,jdbcType=INTEGER},
            </if>
            <if test="docStatus != null">
                #{docStatus,jdbcType=INTEGER},
            </if>
            <if test="baiduMap != null">
                #{baiduMap,jdbcType=VARCHAR},
            </if>
            <if test="activityClass != null">
                #{activityClass,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.qheeshow.eway.service.model.ActivityExample"
            resultType="java.lang.Integer">
        select count(*) from t_activity
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_activity
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.logo != null">
                logo = #{record.logo,jdbcType=VARCHAR},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.beginTime != null">
                begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.endTime != null">
                end_time = #{record.endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.summary != null">
                summary = #{record.summary,jdbcType=VARCHAR},
            </if>
            <if test="record.signEndTime != null">
                sign_end_time = #{record.signEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.address != null">
                address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.limitNum != null">
                limit_num = #{record.limitNum,jdbcType=INTEGER},
            </if>
            <if test="record.tel != null">
                tel = #{record.tel,jdbcType=VARCHAR},
            </if>
            <if test="record.sponsor != null">
                sponsor = #{record.sponsor,jdbcType=VARCHAR},
            </if>
            <if test="record.pv != null">
                pv = #{record.pv,jdbcType=INTEGER},
            </if>
            <if test="record.longitude != null">
                longitude = #{record.longitude,jdbcType=VARCHAR},
            </if>
            <if test="record.latitude != null">
                latitude = #{record.latitude,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.cost != null">
                cost = #{record.cost,jdbcType=DECIMAL},
            </if>
            <if test="record.isHead != null">
                is_head = #{record.isHead,jdbcType=INTEGER},
            </if>
            <if test="record.docStatus != null">
                doc_status = #{record.docStatus,jdbcType=INTEGER},
            </if>
            <if test="record.baiduMap != null">
                baidu_map = #{record.baiduMap,jdbcType=VARCHAR},
            </if>
            <if test="record.activityClass != null">
                activity_class = #{record.activityClass,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.content != null">
                content = #{record.content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_activity
        set id = #{record.id,jdbcType=INTEGER},
        logo = #{record.logo,jdbcType=VARCHAR},
        title = #{record.title,jdbcType=VARCHAR},
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
        summary = #{record.summary,jdbcType=VARCHAR},
        sign_end_time = #{record.signEndTime,jdbcType=TIMESTAMP},
        address = #{record.address,jdbcType=VARCHAR},
        limit_num = #{record.limitNum,jdbcType=INTEGER},
        tel = #{record.tel,jdbcType=VARCHAR},
        sponsor = #{record.sponsor,jdbcType=VARCHAR},
        pv = #{record.pv,jdbcType=INTEGER},
        longitude = #{record.longitude,jdbcType=VARCHAR},
        latitude = #{record.latitude,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=INTEGER},
        cost = #{record.cost,jdbcType=DECIMAL},
        is_head = #{record.isHead,jdbcType=INTEGER},
        doc_status = #{record.docStatus,jdbcType=INTEGER},
        baidu_map = #{record.baiduMap,jdbcType=VARCHAR},
        activity_class = #{record.activityClass,jdbcType=INTEGER},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        content = #{record.content,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_activity
        set id = #{record.id,jdbcType=INTEGER},
        logo = #{record.logo,jdbcType=VARCHAR},
        title = #{record.title,jdbcType=VARCHAR},
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
        summary = #{record.summary,jdbcType=VARCHAR},
        sign_end_time = #{record.signEndTime,jdbcType=TIMESTAMP},
        address = #{record.address,jdbcType=VARCHAR},
        limit_num = #{record.limitNum,jdbcType=INTEGER},
        tel = #{record.tel,jdbcType=VARCHAR},
        sponsor = #{record.sponsor,jdbcType=VARCHAR},
        pv = #{record.pv,jdbcType=INTEGER},
        longitude = #{record.longitude,jdbcType=VARCHAR},
        latitude = #{record.latitude,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=INTEGER},
        cost = #{record.cost,jdbcType=DECIMAL},
        is_head = #{record.isHead,jdbcType=INTEGER},
        doc_status = #{record.docStatus,jdbcType=INTEGER},
        baidu_map = #{record.baiduMap,jdbcType=VARCHAR},
        activity_class = #{record.activityClass,jdbcType=INTEGER},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.qheeshow.eway.service.model.Activity">
        update t_activity
        <set>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="summary != null">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="signEndTime != null">
                sign_end_time = #{signEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="limitNum != null">
                limit_num = #{limitNum,jdbcType=INTEGER},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="sponsor != null">
                sponsor = #{sponsor,jdbcType=VARCHAR},
            </if>
            <if test="pv != null">
                pv = #{pv,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="cost != null">
                cost = #{cost,jdbcType=DECIMAL},
            </if>
            <if test="isHead != null">
                is_head = #{isHead,jdbcType=INTEGER},
            </if>
            <if test="docStatus != null">
                doc_status = #{docStatus,jdbcType=INTEGER},
            </if>
            <if test="baiduMap != null">
                baidu_map = #{baiduMap,jdbcType=VARCHAR},
            </if>
            <if test="activityClass != null">
                activity_class = #{activityClass,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qheeshow.eway.service.model.Activity">
        update t_activity
        set logo = #{logo,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
        end_time = #{endTime,jdbcType=TIMESTAMP},
        summary = #{summary,jdbcType=VARCHAR},
        sign_end_time = #{signEndTime,jdbcType=TIMESTAMP},
        address = #{address,jdbcType=VARCHAR},
        limit_num = #{limitNum,jdbcType=INTEGER},
        tel = #{tel,jdbcType=VARCHAR},
        sponsor = #{sponsor,jdbcType=VARCHAR},
        pv = #{pv,jdbcType=INTEGER},
        longitude = #{longitude,jdbcType=VARCHAR},
        latitude = #{latitude,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        cost = #{cost,jdbcType=DECIMAL},
        is_head = #{isHead,jdbcType=INTEGER},
        doc_status = #{docStatus,jdbcType=INTEGER},
        baidu_map = #{baiduMap,jdbcType=VARCHAR},
        activity_class = #{activityClass,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        content = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qheeshow.eway.service.model.Activity">
        update t_activity
        set logo = #{logo,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
        end_time = #{endTime,jdbcType=TIMESTAMP},
        summary = #{summary,jdbcType=VARCHAR},
        sign_end_time = #{signEndTime,jdbcType=TIMESTAMP},
        address = #{address,jdbcType=VARCHAR},
        limit_num = #{limitNum,jdbcType=INTEGER},
        tel = #{tel,jdbcType=VARCHAR},
        sponsor = #{sponsor,jdbcType=VARCHAR},
        pv = #{pv,jdbcType=INTEGER},
        longitude = #{longitude,jdbcType=VARCHAR},
        latitude = #{latitude,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        cost = #{cost,jdbcType=DECIMAL},
        is_head = #{isHead,jdbcType=INTEGER},
        doc_status = #{docStatus,jdbcType=INTEGER},
        baidu_map = #{baiduMap,jdbcType=VARCHAR},
        activity_class = #{activityClass,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="listByCondition" resultMap="BaseResultMap" parameterType="com.qheeshow.eway.service.model.Activity">
        select
        <include refid="Base_Column_List"/>
        from t_activity
        where 1=1
        <if test="activityClass != null">
            and activity_class = #{activityClass,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            and status =#{status,jdbcType=INTEGER}
        </if>
        ORDER by create_time DESC
        limit #{startRow,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="latest" resultMap="BaseResultMap">
        select
        id,logo,title,summary
        from t_activity
        ORDER by create_time DESC
        limit 0,3
    </select>
    <select id="listByClassAndPage" resultMap="BaseResultMap" parameterType="com.qheeshow.eway.service.model.Activity">
        select
        <include refid="Base_Column_List"/>
        from t_activity
        where activity_class = #{activityClass,jdbcType=INTEGER}
        and is_head = 0
        and doc_status not in(30)
        order by create_time desc
        limit #{startRow,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>

    <select id="countByClassAndPage" resultType="java.lang.Integer" parameterType="com.qheeshow.eway.service.model.Activity">
        select
        <include refid="Base_Column_List"/>
        from t_activity
        where activity_class = #{activityClass,jdbcType=INTEGER}
        and is_head = 0
        and doc_status not in(30)
        order by create_time desc
        limit #{startRow,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>

</mapper>