<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qheeshow.eway.service.dao.BindMapMapper">
    <resultMap id="BaseResultMap" type="com.qheeshow.eway.service.model.BindMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bind_id" property="bindId" jdbcType="VARCHAR"/>
        <result column="calling" property="calling" jdbcType="VARCHAR"/>
        <result column="called" property="called" jdbcType="VARCHAR"/>
        <result column="mixnum" property="mixnum" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, bind_id, calling, called, mixnum, create_time, update_time
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.qheeshow.eway.service.model.BindMapExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_bind_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_bind_map
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bind_map
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.qheeshow.eway.service.model.BindMapExample">
        delete from t_bind_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.qheeshow.eway.service.model.BindMap">
    insert into t_bind_map (id, bind_id, calling,
    called, mixnum, create_time,
    update_time)
    values (#{id,jdbcType=INTEGER}, #{bindId,jdbcType=VARCHAR}, #{calling,jdbcType=VARCHAR},
    #{called,jdbcType=VARCHAR}, #{mixnum,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.qheeshow.eway.service.model.BindMap">
        insert into t_bind_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="bindId != null">
                bind_id,
            </if>
            <if test="calling != null">
                calling,
            </if>
            <if test="called != null">
                called,
            </if>
            <if test="mixnum != null">
                mixnum,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="bindId != null">
                #{bindId,jdbcType=VARCHAR},
            </if>
            <if test="calling != null">
                #{calling,jdbcType=VARCHAR},
            </if>
            <if test="called != null">
                #{called,jdbcType=VARCHAR},
            </if>
            <if test="mixnum != null">
                #{mixnum,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.qheeshow.eway.service.model.BindMapExample"
            resultType="java.lang.Integer">
        select count(*) from t_bind_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_bind_map
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.bindId != null">
                bind_id = #{record.bindId,jdbcType=VARCHAR},
            </if>
            <if test="record.calling != null">
                calling = #{record.calling,jdbcType=VARCHAR},
            </if>
            <if test="record.called != null">
                called = #{record.called,jdbcType=VARCHAR},
            </if>
            <if test="record.mixnum != null">
                mixnum = #{record.mixnum,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_bind_map
        set id = #{record.id,jdbcType=INTEGER},
        bind_id = #{record.bindId,jdbcType=VARCHAR},
        calling = #{record.calling,jdbcType=VARCHAR},
        called = #{record.called,jdbcType=VARCHAR},
        mixnum = #{record.mixnum,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.qheeshow.eway.service.model.BindMap">
        update t_bind_map
        <set>
            <if test="bindId != null">
                bind_id = #{bindId,jdbcType=VARCHAR},
            </if>
            <if test="calling != null">
                calling = #{calling,jdbcType=VARCHAR},
            </if>
            <if test="called != null">
                called = #{called,jdbcType=VARCHAR},
            </if>
            <if test="mixnum != null">
                mixnum = #{mixnum,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qheeshow.eway.service.model.BindMap">
    update t_bind_map
    set bind_id = #{bindId,jdbcType=VARCHAR},
    calling = #{calling,jdbcType=VARCHAR},
    called = #{called,jdbcType=VARCHAR},
    mixnum = #{mixnum,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="listBindRecord" resultMap="BaseResultMap" parameterType="com.qheeshow.eway.service.model.BindMap">
    SELECT tb_a.* FROM t_bind_map tb_a
    WHERE NOT EXISTS (SELECT id FROM t_call_record tb_b WHERE tb_a.bind_id=tb_b.bind_id)
    AND (
        (tb_a.calling=#{calling,jdbcType=VARCHAR} AND tb_a.called=#{called,jdbcType=VARCHAR})
        OR (tb_a.calling=#{called,jdbcType=VARCHAR} AND tb_a.called=#{calling,jdbcType=VARCHAR})
    )
    AND UNIX_TIMESTAMP(tb_a.create_time)>= UNIX_TIMESTAMP(NOW()-600)
  </select>

</mapper>